AWS_REGION=us-east-2
LYMOW_IOT_ENDPOINT=your-lymow-iot-endpoint.amazonaws.com
LYMOW_THING_NAME=your-lymow-thing-name
COGNITO_REGION=us-east-2
COGNITO_USER_POOL_ID=your-user-pool-id
COGNITO_USER_POOL_CLIENT_ID=your-user-pool-client-id
COGNITO_IDENTITY_POOL_ID=your-identity-pool-id
LYMOW_EMAIL=your-email@example.com
LYMOW_PASSWORD=your-password

MQTT_HOST=your-home-assistant-mqtt-host
MQTT_PORT=1883
MQTT_USERNAME=your-mqtt-user
MQTT_PASSWORD=your-mqtt-password
MQTT_BASE_TOPIC=lymow/mowmow
